
.userInfoContainer {
    margin-top: 10px;
    max-width: 80%;
    display: flex;
    justify-content: left;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size:13px;
}


.information h2, p {
    margin: 0;
}

.contact {
    border: 1px solid black;
    border-radius: 20px;
    height: 25px;
    text-align: center;
    margin-top: 7px;
    color: black;
    border: 1px solid black;
    background-color:rgba(0,0,0,0.2);
}

.contact:hover{
    cursor: pointer;
    
}


@media(min-width:500px){
    .information{
        display: flex;
        padding: 6px;
    }
    .contact{
        width: 200px;
        margin-left: 30px;
        border: 2px solid black;
    }
    .userInfoContainer{
        justify-content: center;
        font-size: 18px;
    }
}