.tabsContainer{
    padding: 0 20px;
}

.Tabs{
    max-width: 80%;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content:center;
    margin: 0 auto;
}

@media (min-width:500px){
 .Tabs{ 
     margin: 0 auto;
    }
}