.emailContainer {
    max-width: 80%;
    margin: 40px auto;
    border-radius: 5px;
    padding: 0 20px;
    padding-bottom: 20px;
    text-align: justify;
    line-height: 1.4;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background: linear-gradient(90deg, #f5f7ea 0%, #ffffff 100%);
}

.emailTag {
    display: inline-block;
    position: relative;
    text-align: center;
    width:50px;
    height: 20px;
    top:-13px;
    background: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 4px;
}

.emailContainer:hover,
.emailContainer:focus {
    box-shadow: 5px 5px 18px #d3cde4;
    transform: scale(1.001);
    transition: all 0.5s;
}

@media(min-width:500px){
    .emailContainer{
        max-width: 60vw;
    }
}